.filters {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
  margin-bottom: 12px;
}

@media (max-width: 600px) {
  .filters {
    grid-template-columns: 1fr;
  }
}

.noConfig {
  grid-column: 1 / -1;
}
