version: '3.8'

services:
  rffm-api:
    environment:
      # Override para desarrollo local
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__CatalogConnection=Server=sqlserver,1433;Database=FutbolBase;User Id=sa;Password=PassLogo33.#;TrustServerCertificate=True;
      - Jwt__Key=${JWT_KEY}
      - Jwt__Issuer=FutbolBaseAPI
      - Jwt__Audience=FutbolBaseAPIUsers
      - Authentication__FrontendSecret=${FRONTEND_SECRET}
      - ConnectionStrings__AzureBlobStorage=${AZURE_BLOB_STORAGE}
      - FrontUrlBase=https://localhost:5173
      - Cors__AllowedOrigins__0=http://localhost:3000
      - Cors__AllowedOrigins__1=http://localhost:5173
      - Cors__AllowedOrigins__2=https://rffm.netlify.app
    ports:
      - "5170:8080"
      - "7287:8081"
