{
  "SupabaseStorage:Url": "https://your-project.supabase.co",
  "SupabaseStorage:ServiceKey": "YOUR_SUPABASE_SERVICE_KEY",
  "Storage:UseLocal": "True",
  "Smtp:User": "your-email@gmail.com",
  "Smtp:Port": "587",
  "Smtp:Password": "YOUR_GMAIL_APP_PASSWORD",
  "Smtp:Host": "smtp.gmail.com",
  "Smtp:FromName": "Futbol Base",
  "Smtp:FromEmail": "your-email@gmail.com",
  "Seed:AdminEmail": "admin@futbolbase.local",
  "Logging:LogLevel:Microsoft.AspNetCore": "Warning",
  "Logging:LogLevel:Default": "Information",
  "LocalStorage:BasePath": "C:\\Proyects\\MisProyectos\\coaches-storage",
  "Kestrel:Certificates:Development:Password": "YOUR_DEV_CERT_PASSWORD",
  "Jwt:Key": "YOUR_JWT_SECRET_KEY_BASE64_32_CHARS_MIN",
  "Jwt:Issuer": "FutbolBaseAPI",
  "Jwt:Audience": "FutbolBaseAPIUsers",
  "FrontUrlBase": "http://localhost:5173",
  "Cors:AllowedOrigins:4": "https://your-production-domain.com",
  "Cors:AllowedOrigins:3": "https://your-staging-domain.com",
  "Cors:AllowedOrigins:2": "https://your-frontend-netlify.app",
  "Cors:AllowedOrigins:1": "http://localhost:5173",
  "Cors:AllowedOrigins:0": "http://localhost:3000",
  "Authentication:FrontendSecret": "YOUR_FRONTEND_SECRET_KEY_BASE64",
  "ApiBase": "https://localhost:7287",
  "ConnectionStrings:FutbolBaseConnection": "Host=localhost;Port=5432;Database=rffm-coaches;Username=postgres;Password=YOUR_PODMAN_PASSWORD"
}
