.root {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.emblem {
  height: 36px;
  width: auto;
}

.name {
  font-weight: 600;
}

.loading {
  display: inline-flex;
  align-items: center;
}
