/* Global styles */
html,
body,
#root {
  height: 100%;
  margin: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Import display font for player names */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600;700;800&display=swap");

/* Make specific MUI Paper instance transparent */
.css-1e8onee-MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
}
