.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.state {
  display: flex;
  justify-content: center;
  padding: 24px 0;
}
